.existing-content {
    margin-bottom: 20px;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}


.content {
    margin-bottom: 40px;
}

.feature-item {
    margin-bottom: 20px;
}

.toggle-button {
    background: none;
    left: -30px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
}

.toggle-button img {
    width: 30px; /* Adjust the width of the image */
}

.toggle-button.active {
    transform: rotate(180deg);
}

.hiddentext {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

.visible {
    max-height: 100px; /* Adjust the max-height as per your design */
}
